<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.2.0" targetFramework="net461" />
  <package id="Castle.Windsor" version="4.1.0" targetFramework="net461" />
  <package id="Dapper" version="1.50.4" targetFramework="net461" />
  <package id="docopt.net" version="0.6.1.8" targetFramework="net461" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="FluentMigrator" version="1.6.2" targetFramework="net461" />
  <package id="FluentMigrator.Runner" version="1.6.2" targetFramework="net461" />
  <package id="FluentMigrator.Runner.Cli.Executor" version="1.0.0-beta5" targetFramework="net461" />
  <package id="Google.Protobuf" version="3.3.0" targetFramework="net461" />
  <package id="log4net" version="2.0.8" targetFramework="net461" />
  <package id="Microsoft.DotNet.Cli.Utils" version="1.0.0-preview2-003121" targetFramework="net461" />
  <package id="Microsoft.DotNet.InternalAbstractions" version="1.0.0" targetFramework="net461" />
  <package id="Microsoft.DotNet.ProjectModel" version="1.0.0-rc3-003121" targetFramework="net461" />
  <package id="Microsoft.Extensions.CommandLineUtils" version="1.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyModel" version="1.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.PlatformAbstractions" version="1.0.0" targetFramework="net461" />
  <package id="MySql.Data" version="8.0.9-dmr" targetFramework="net461" />
  <package id="MySql.Data.Entity" version="7.0.7-m61" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="NuGet.Common" version="3.5.0-beta2-1484" targetFramework="net461" />
  <package id="NuGet.Configuration" version="3.5.0-beta2-1484" targetFramework="net461" />
  <package id="NuGet.DependencyResolver.Core" version="3.5.0-beta2-1484" targetFramework="net461" />
  <package id="NuGet.Frameworks" version="3.5.0-beta2-1484" targetFramework="net461" />
  <package id="NuGet.LibraryModel" version="3.5.0-beta2-1484" targetFramework="net461" />
  <package id="NuGet.Packaging" version="3.5.0-beta2-1484" targetFramework="net461" />
  <package id="NuGet.Packaging.Core" version="3.5.0-beta2-1484" targetFramework="net461" />
  <package id="NuGet.Packaging.Core.Types" version="3.5.0-beta2-1484" targetFramework="net461" />
  <package id="NuGet.ProjectModel" version="3.5.0-beta2-1484" targetFramework="net461" />
  <package id="NuGet.Protocol.Core.Types" version="3.5.0-beta2-1484" targetFramework="net461" />
  <package id="NuGet.Protocol.Core.v3" version="3.5.0-beta2-1484" targetFramework="net461" />
  <package id="NuGet.Repositories" version="3.5.0-beta2-1484" targetFramework="net461" />
  <package id="NuGet.RuntimeModel" version="3.5.0-beta2-1484" targetFramework="net461" />
  <package id="NuGet.Versioning" version="3.5.0-beta2-1484" targetFramework="net461" />
  <package id="System.Collections.Immutable" version="1.2.0" targetFramework="net461" />
  <package id="System.Reflection.Metadata" version="1.3.0" targetFramework="net461" />
</packages>