body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select{
    max-width: 280px;
}
    textarea, input.long-size {
        max-width: 680px;
    }
.posts-wrap {
}
.post-item-box {
    border: 1px solid #ccc;padding: 20px;margin: 20px 0;
}
.post-box {
    margin: 20px;
    margin-left: 0;
}
.reply-wrap{ margin: 20px;margin-left: 0;}
.reply-box{ border: 1px solid #ccc;padding: 20px;margin: 20px 0;}
.forum-title{ margin: 20px;margin-left: 0;}
@media screen and (min-width: 768px) {
     .jumbotron {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}


.jumbotron {
    background: #FBF1E5;
    
}

.navbar-inverse {
    background: #FF7940;
    border-color: #FF7940;
}
    .navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand {
        color: #fff;
    }
.btn-primary {
    background: #FF7940;
    border-color: #FF7940;  
}
.btn-primary:hover {
    background: #FF7940;
    border-color: #FF7940;
}
a,a:hover{ color: #333;}