body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select{
    max-width: 280px;
}
    textarea, input.long-size {
        max-width: 680px;
    }
.posts-wrap {
}
.post-item-box {
    border-top: 1px dashed #ddd;padding: 10px 0;
}
.post-box {
    margin: 20px;
    margin-left: 0;
    border-bottom: 1px dashed #ddd;
    padding: 20px 0;
    padding-top: 10px;
}
.post-box-title{ margin: 10px 0;border-bottom: 1px dashed #ddd;padding-bottom: 10px;}
.post-box-content{ padding: 20px;padding-left: 57px;}
.reply-wrap{ margin: 20px;margin-left: 0;}
.reply-box{ border-bottom: 1px solid #ddd;margin: 10px 0;}
.forum-title{ margin: 20px;margin-left: 0;}
@media screen and (min-width: 768px) {
     .jumbotron {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}


.jumbotron {
    background: #FBF1E5;
    
}

.navbar-inverse {
    background: #FF7940;
    border-color: #FF7940;
}
    .navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand {
        color: #fff;
    }
.btn-primary {
    background: #FF7940;
    border-color: #FF7940;  
}
.btn-primary:hover {
    background: #FF7940;
    border-color: #FF7940;
}
a,a:hover{ color: #333;}
.post-header-wrap{ clear: both;min-height: 40px;}
.user-photo{ height: 40px;}
.tx-photo{ width: 40px;height: 40px;border-radius: 40px;}
.user-info,.user-photo{ float: left;}
.user-info{ margin-left: 15px;}
.user-info p{ margin: 0;padding: 0;font-size: 12px;margin-bottom: 2px;}
.post-title{ font-weight: bold;margin-top: 5px;margin-left: 55px;}
.post-content{margin-top:5px;margin-left: 55px;}
.post-content p{ padding:0;margin: 0;padding-left: 0;}
.post-content img{ max-height: 200px;max-width: 200px;}
.new-post-section .form-group{ margin-left: 0;}
.new-post-section  input{max-width: 100%;}
