@{
    ViewBag.Title = "联系我们";
}
<h2>@ViewBag.Title</h2>


<address style="padding: 40px 0">
    <strong>Support&Marketing:</strong>   <a href="mailto:12833318@qq.com">12833318@qq.com</a><br />
</address>